.main-splash
  %h1.home-title playetry
  %h1.poem-input.title.letterpress write.read.speak.feel
  .col-xs-12#big-tag-cloud
    %p.main-p find poems, record yourself reading them, write your own, explore existing topics
