%li
  .poem-index{"data-poem-id" => "#{poem.id}"}
    = link_to poem, class: "poem-link" do
      %h3.poem-index-title.letterpress #{poem.title}
    %h6.poem-index-author.letterpress by #{poem.author}
