.search-bar
  %input.poem-input.minor-input#title-search{type: 'text', placeholder: 'Title'}
  %input.poem-input.minor-input#author-search{type: 'text', placeholder: 'Author'}
  %input.poem-input.minor-input#body-search{type: 'text',   placeholder: 'Body'}
  %button.btn.btn-warning#send-search{type: 'submit'} Submit
.poems-index
  %h1.poem-search poems
  %h3#search-by newest additions
  %ul#poems-list
    - @poems.each do |poem|
      %li
        .poem-index{"data-poem-id" => "#{poem.id}"}
          = link_to poem, class: "poem-link" do
            %h3.poem-index-title #{poem.title}
          %h6.poem-index-author by #{poem.author}

-# %script
-#   Playetry.poemControl.searchPoems()
