.search-bar
  %input.poem-input.minor-input#title-search{type: 'text', placeholder: 'Title'}
  %input.poem-input.minor-input#author-search{type: 'text', placeholder: 'Author'}
  %input.poem-input.minor-input#body-search{type: 'text',   placeholder: 'Body'}
  %button.btn.btn-warning#send-search{type: 'submit'} Submit
.poems-index
  %h1.poem-search poems
  %h3#search-by newest additions
  %ul#poems-list
    = render @poems
