%h1 #{@user.username}
.poems-index
  %h3#fav-poems-header.section-header your favorite poems
  %ul#fav-poems.user-list
.readings-index
  %h3#fav-readings-header.section-header your favorite readings
  %ul#fav-readings.user-list
