%h1 #{@user.username}
.poems-index
  %h3#fav-poems-header your favorite poems
  %ul#fav-poems.poems-list
.col-xs-12.col-md-6
  %h3#fav-readings-header your favorite readings
  .readings-container
    %ul#fav-readings.reading-column-ul
.col-xs-12.col-md-6
  %h3#user-readings-header readings you've done
  .readings-container
    %ul#user-readings.reading-column-ul
