/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require_self
 *= require_tree .
 *= require jquery.ui.autocomplete
 */
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"

@import "bootstrap";
@import "flat-ui";

/* My favs */
$clouds:        #ecf0f1;
$silver:        #bdc3c7;
$concrete:      #95a5a6;
$asbestos:      #7f8c8d;
$midnight-blue: #2c3e50;
$wet-asphalt:   #34495e;
$pumpkin:       #d35400;
$carrot:        #e67e22;
$orange:        #f39c12;
$sun-flower:    #f1c40f;
$nephritis:     #27ae60;
$emerald:       #2ecc71;
$pomegranate:   #c0392b;
$alizarin:      #e74c3c;
$peter-river:   #3498db;
$belize-hole:   #2980b9;
$jordy-blue:    #89C4F4;

$darksec: #FF5952;
$lightsec: #FCEEC9;
$lightmain: #96D6D9;
$medmain: #4FAAC9;
$darkmain: #176075;
$letterpress-text: #2F4050;
$bg-color: #4F6478;

body {
  background-color: $bg-color;
}

/* Site-wide Settings */
ul {
  li {
    list-style-type: none;
    display: inline-block;
  }
}

h1 {
  font-size: 3.5em;
  color: $darksec;
}

h3 {
  font-size: 1.6em;
  color: $lightsec;
}

h6 {
  font-size: 1.4em;
  margin: 5px 0;
}

a {
  text-decoration: none;
  color: $medmain;
  &:hover {
    color: $lightmain;
  }
}

/* Some Generic Classes */
.full-width {
  width: 100% !important;
}
.container {
  padding: 0;
  max-width: 935px;
}
.relative {
  position: relative;
}

.inherit-pos * {
  position: inherit;
}

.letterpress, .glyphicon {
  color: #2F4050;
  text-shadow: 0px 1px 1px #7290AC;
}

.left {
  max-width: 600px;
  margin: 0 2em 2em 0;
  vertical-align: top;
  display: inline-block;
  position: relative;
}

.right {
  width: 300px;
  vertical-align: top;
  display: inline-block;
  position: relative;
}

/* Fix Bootstrap override */
input.letterpress {
  color: #2F4050;
  text-shadow: 0px 1px 1px #7290AC;
}

/* Fix janky Chrome user agent outline */
button, input, textarea {
  &:focus, &:active {
    outline: none !important;
  }
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }

/* Rails adds these; without height 100% it will break the textarea */
.field_with_errors {
  height: 100%;
}

/* check out: http://stackoverflow.com/questions/5019663/jquery-autocomplete-styling
for help styling this autocomplete */
ul.ui-autocomplete {
  position: absolute;
  background: none;
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: default;
  li {
    background: none;
    background-color: $wet-asphalt;
   // border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
  }
  a, a.ui-state-hover, a.ui-state-active {
    color: tomato !important;
    display: block;
    padding: 3px;
    background: none;
    &:hover {
      background: none;
      background-color: $clouds !important;
      border: none;
      transform: none !important;
    }
  }
  // a.ui-state-hover, a.ui-state-active {
  //   background-color: none !important;
  // }
}

.ui-corner-all {
  border-radius: 2px !important;
}

.ui-widget {
  display: none;
  font-family: Lato !important;
  font-size: 1.1em !important;
}
.ui-widget-content {
  display: none;
  background: none !important;
  color: tomato !important;
}

.ui-menu {
  list-style-image: none;
  &:hover, &:focus {
    list-style-image: none;
  }
}

* {
  list-style-image: none !important;
}

.ui-autocomplete-loading {background: white}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;

    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}
