/* Caused an error when these were only in application.css.scss */
$clouds:        #ecf0f1;
$silver:        #bdc3c7;
$concrete:      #95a5a6;
$asbestos:      #7f8c8d;
$midnight-blue: #2c3e50;
$wet-asphalt:   #34495e;
$pumpkin:       #d35400;
$carrot:        #e67e22;
$orange:        #f39c12;
$sun-flower:    #f1c40f;
$nephritis:     #27ae60;
$emerald:       #2ecc71;
$pomegranate:   #c0392b;
$alizarin:      #e74c3c;
$peter-river:   #3498db;
$belize-hole:   #2980b9;

.player-container {
  width: 300px;
  height: 65px;
  position: relative;
  div {
    display: inline-block;
    height: 25px;
  }
}

#default-player {
  background-color: $asbestos;
  width: 350px;
  margin: 2px;
  height: 31px;
  padding: 3px;
}

.player-description {
  height: 25px;
  width: 90%; // leave room for the heart (remember this scrolls for long desc)
  line-height: 25px;
  font-size: 24px;
  margin: 0;
  padding-left: 2px;
  overflow: scroll;
  white-space: nowrap; // might be better to just text-overflow: ellipsis
}

.player-username {
  width: 100%;
  height: 15px;
  line-height: 12px;
  text-indent: 10px;
  font-size: 16px;
  margin: 0;
  padding-bottom: 3px;
  padding-left: 2px;
}

.player-glyph-container {
  font-size: 20px;
  height: 100%;
  .play-pause-glyph {
    height: 100%;
    top: -3px;
  }
  /* must adjust volume glyph to have bigger font-size or it looks off */
  .volume-glyph {
    font-size: 26px;
    top: 0;
  }
}

/* Centers things vertically across the player bar */
.player-center {
  position: relative; /* makes layerX refer to click distance from this */
}

.track-slider, .volume-meter {
  height: 10px;
  background-color: $wet-asphalt;
  border-radius: 2px;
}

.track-slider {
  width: 55%;
}

.track-time {
  font-size: 18px;
  color: $clouds;
  position: absolute;
  right: 10px;
  line-height: 25px;
}

.volume-meter {
  width: 25%;
}

.slider-bar {
  height: 100%;
  position: absolute;
  border-radius: 2px;
}

.track-progress {
  width: 0;
  background-color: $alizarin;
}

.volume-status{
  width: 100%;
  background-color: $nephritis;
}
