/* Caused an error when these were only in application.css.scss */
$clouds:        #ecf0f1;
$silver:        #bdc3c7;
$concrete:      #95a5a6;
$asbestos:      #7f8c8d;
$midnight-blue: #2c3e50;
$wet-asphalt:   #34495e;
$pumpkin:       #d35400;
$carrot:        #e67e22;
$orange:        #f39c12;
$sun-flower:    #f1c40f;
$nephritis:     #27ae60;
$emerald:       #2ecc71;
$pomegranate:   #c0392b;
$alizarin:      #e74c3c;
$peter-river:   #3498db;
$belize-hole:   #2980b9;

$darksec: #FF5952;
$lightsec: #FCEEC9;
$lightmain: #96D6D9;
$medmain: #4FAAC9;
$darkmain: #176075;
$letterpress-text: #2F4050;
$bg-color: #4F6478;

.player-container {
  position: relative;
  div {
    display: inline-block;
    height: 25px;
  }
}

.track-container {
  float: left;
  width: 58%;
  .slider-outside {
    width: 90%;
  }
}

.volume-container {
  float: right;
  width: 40%;
  .slider-outside {
    width: 82%;
  }
}

.player-description {
  width: 90%; // leave room for the heart (remember this scrolls for long desc)
  height: 19px;
  font-size: 1.3em;
  color: $lightmain;
  overflow: scroll;
  text-transform: none;
  white-space: nowrap; // might be better to just text-overflow: ellipsis
}

.player-username {
  font-size: 0.9em;
  margin-left: 0.4em;
  float: right;
  text-transform: none;
  color: $lightmain;
}

.player-glyph-container {
  font-size: 20px;
  height: 100%;
  .play-pause-glyph {
    height: 100%;
    top: -3px;
  }
  /* must adjust volume glyph to have bigger font-size or it looks off */
  .volume-glyph {
    font-size: 26px;
    top: 0;
  }
}

.track-slider, .volume-meter {
  height: 10px;
  background-color: $darkmain;
  border-radius: 2px;
}

/* this also has a media-query on it if it gets really narrow */
.slider-outside {
  background-color: $darkmain;
  border-radius: 2px;
}

.track-time {
  font-size: 18px;
  color: $lightsec;
  position: absolute;
  right: 10px;
  line-height: 25px;
}

.volume-meter {
  width: 25%;
}

.slider-bar {
  height: 100%;
  position: absolute;
  border-radius: 2px;
}

.track-progress {
  width: 0;
  background-color: $darksec;
}

.volume-status{
  width: 100%;
  background-color: $medmain;
}

@media all and (min-width: 996px) {
  .width-fix {
    .track-container .slider-outside {
      width: 85%;
    }
    .volume-container .slider-outside {
      width: 70%;
    }
  }
}
