/*Play button*/
.song-play{

}
/*Pause button*/
.song-pause{

}
/*Stop button*/
.song-stop{

}
/*Play/Pause button*/
.song-play-pause{

}
/*Song location slider*/
.track-slider{
    position: relative; /* makes layerX refer to click distance from this */
    width: 500px;
    height: 10px;
    background-color: black;
}
/*Track progress bar*/
.track-progress{
    width: 0px;
    height: 10px;
    background-color: red;
}
/*Volume Up Button*/
.volume-up{

}
/*Volume Down Button*/
.volume-down{

}
/*Volume Meter*/
.volume-meter{
    position: relative; /* makes layerX refer to click distance from this */
    width: 500px;
    height: 10px;
    background-color: black;
}
/*Volume Location Meter*/
.volume-status{
    height: 10px;
    background-color: green;
}
