$clouds:           #ECF0F1;
$wet-asphalt:      #34495E;
$asbestos:         #7F8C8D;
$darksec:          #FF5952;
$lightsec:         #FCEEC9;
$lightmain:        #96D6D9;
$medmain:          #4FAAC9;
$darkmain:         #176075;
$letterpress-text: #2F4050;
$bg-color:         #4F6478;
