$clouds:        #ecf0f1;
$silver:        #bdc3c7;
$concrete:      #95a5a6;
$asbestos:      #7f8c8d;
$midnight-blue: #2c3e50;
$wet-asphalt:   #34495e;
$pumpkin:       #d35400;
$carrot:        #e67e22;
$orange:        #f39c12;
$sun-flower:    #f1c40f;
$nephritis:     #27ae60;
$emerald:       #2ecc71;
$pomegranate:   #c0392b;
$alizarin:      #e74c3c;
$peter-river:   #3498db;
$belize-hole:   #2980b9;
$jordy-blue:    #89C4F4;

$darksec: #FF5952;
$lightsec: #FCEEC9;
$lightmain: #96D6D9;
$medmain: #4FAAC9;
$darkmain: #176075;
$letterpress-text: #2F4050;
$bg-color: #4F6478;

@import url(http://fonts.googleapis.com/css?family=PT+Mono);
@import url(http://fonts.googleapis.com/css?family=Oleo+Script);



/* must specify tag and class or the attribute settings in bootstrap give it
greater priority than just a class */
.fav-poem, .fav-reading {
  position: absolute;
  font-size: 48px;
  color: $asbestos;
  span:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  .is-fav {
    color: $darksec;
  }
}

.fav-poem {
  right: 8px;
  top: 2px;
}

.fav-reading {
  top: -6px;
  right: 3px;
  font-size: 24px;
}

.glyphicon {
  &:hover:not(.is-fav) {
    color: $lightmain;
  }
}

/* if this is an unsaved new reading, don't display the heart or the username */
.new-reading {
  position: relative;
  width: 100%;
  border-radius: 2px;
  padding: 5px 0;

  .fav-reading > span, .player-username {
    display: none;
  }
}

.poems-list {
  li {
    display: block;
    margin: 1.5em 1em;
  }
}

.poem-container {
  padding: 0;
  //min-width: 550px;
  display: inline-block;
  border: 2px solid $medmain;
  border-radius: 4px;
}

/* poems#index */

.poems-index {
  padding-left: 1em;
}

.poem-index-title {
  font-family: 'Oleo Script', 'Lato', cursive;
  font-size: 2.0em;
  &:hover {
    text-shadow: none;
    color: $lightmain;
  }
}

.poem-index-author, .poem-show-author {
  text-indent: 0.5em;
  font-weight: bold;
  text-transform: lowercase;
}

.search-bar {
  width: 100%;
  position: relative;
  margin-bottom: 1em;
  input.poem-input {
    display: inline-block;
    width: 25%;
  }
}

#send-search {
  position: relative;
  float: right;
  width: 22%;
}

/* poems#show and poems#new */

/* If don't specify tag, Bootstrap attrs override */
input.poem-input, .poem-input {
  font-family: 'Oleo Script', 'Lato', cursive;
  display: inline-block;
  border: 2px solid transparent;
  background-color: transparent;
  margin: 0 0 2px 0;
  padding: 0 0 0 4px;
  width: 70%;
  line-height: inherit;
  transition: all 0.5s ease-in-out;
  &.title {
    font-size: 3em;
  }
  &.author {
    font-size: 1.8em;
    text-indent: 0.5em;
    text-transform: none;
  }
  &.devise-form {
    width: 100%;
    text-align: left;
  }
}

input.poem-input:focus {
  border: 2px solid $darksec;
  background-color: $lightsec;
}

.poem-body {
  border: none;
  border-radius: 0;
  width: 100%;
  height: 448px;
  position: relative;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #2F4050;
  background-color: $lightsec;
  font-size: 1.4em;
  line-height: 24px;
  font-weight: bold;
  /* a lot of these are resetting default settings for pre and so must be explicit
  inherit */
  textarea, pre {
    padding: 1em 1em 1.6em 1em;
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    resize: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    border-radius: 0;
    &:focus {
      border: 2px solid $darksec;
    }
  }
}

.poem-topbot {
  position: relative;
  width: 100%;
  padding: 0.5em;
  box-shadow: inset 0 0 2px 2px #2F4050;
}

.btn-submit {
  width: 29%;
  display: inline-block;
  position: relative;
  bottom: 4px;
}

.verb {
  margin: 0;
  text-align: left;
  width: 100%;
  position: absolute;
  top: -1.1em;
  z-index: 10;
  color: $darksec;
}
