$clouds:        #ecf0f1;
$silver:        #bdc3c7;
$concrete:      #95a5a6;
$asbestos:      #7f8c8d;
$midnight-blue: #2c3e50;
$wet-asphalt:   #34495e;
$pumpkin:       #d35400;
$carrot:        #e67e22;
$orange:        #f39c12;
$sun-flower:    #f1c40f;
$nephritis:     #27ae60;
$emerald:       #2ecc71;
$pomegranate:   #c0392b;
$alizarin:      #e74c3c;
$peter-river:   #3498db;
$belize-hole:   #2980b9;
$jordy-blue:    #89C4F4;

$darksec: #FF5952;
$lightsec: #FCEEC9;
$lightmain: #96D6D9;
$medmain: #4FAAC9;
$darkmain: #176075;
$letterpress-text: #2F4050;
$bg-color: #4F6478;

.readings-container {
  height: 630px;
  padding-top: 10px;
  overflow: scroll;
  border: 2px solid #4faac9;
  border-radius: 4px;
  -moz-box-shadow: inset 0 0 2px 2px #2F4050;
  box-shadow: inset 0 0 2px 2px #2F4050;
}


#reading-list {
  height: 100%;
  width: 100%;
  li {
    padding: 5px 4px;
    height: 69px;
    border-bottom: 1px solid $darkmain;
    display: block;
  }
}

#toggle-recording {
  height: 50px;
  width: 50px;
  position: relative;
  vertical-align: top;
  border-radius: 50%;
  padding: 0;
}

#new-reading-inner {
  width: 90%;
  display: inline-block;
  li {
    list-style-type: none;
  }
}

#save-recording {
  position: relative;
  top: 1px;
  width: 29%;
  float: right;
}

/* <li> for which the reading is current user's */
.user-reading {
  .player-username {
    color: $darksec;
  }
}
