$clouds:        #ecf0f1;
$silver:        #bdc3c7;
$concrete:      #95a5a6;
$asbestos:      #7f8c8d;
$midnight-blue: #2c3e50;
$wet-asphalt:   #34495e;
$pumpkin:       #d35400;
$carrot:        #e67e22;
$orange:        #f39c12;
$sun-flower:    #f1c40f;
$nephritis:     #27ae60;
$emerald:       #2ecc71;
$pomegranate:   #c0392b;
$alizarin:      #e74c3c;
$peter-river:   #3498db;
$belize-hole:   #2980b9;

.readings-container {
  width: 300px;
  height: 735px;
  overflow: scroll;
  margin: 0 10px;
  display: inline-block;
  vertical-align: top;
}

#reading-list {
  height: 100%;
  width: 100%;
}

#toggle-recording {
  height: 50px;
  width: 50px;
  position: relative;
  vertical-align: top;
  border-radius: 50%;
  padding: 0;
}

#new-reading-inner {
  width: 90%;
  display: inline-block;
}

#save-recording {
  width: 100%;
}
