$clouds:        #ecf0f1;
$silver:        #bdc3c7;
$concrete:      #95a5a6;
$asbestos:      #7f8c8d;
$midnight-blue: #2c3e50;
$wet-asphalt:   #34495e;
$pumpkin:       #d35400;
$carrot:        #e67e22;
$orange:        #f39c12;
$sun-flower:    #f1c40f;
$nephritis:     #27ae60;
$emerald:       #2ecc71;
$pomegranate:   #c0392b;
$alizarin:      #e74c3c;
$peter-river:   #3498db;
$belize-hole:   #2980b9;
$jordy-blue:    #89C4F4;

$darksec: #FF5952;
$lightsec: #FCEEC9;
$lightmain: #96D6D9;
$medmain: #4FAAC9;
$darkmain: #176075;
$letterpress-text: #2F4050;
$bg-color: #4F6478;

.poem-tags {
  position: relative;
}

.poem-show-tags {
  position: absolute;
  top: -2.25em;
  left: 0;
}

/* this is on poems#new */
#tag-list {
  position: absolute;
  top: 14px;
  left: 13px;
  margin: 0;
  padding: 0;
}

/* this is on poems#show */
#poem-tag-list {
  margin: 0;
  position: relative;
  left: 10px;
}

/* and this is on poems#index (yikes) */
#tags-list {
  li {
    display: block;
    margin: 5px;
  }
}

.mini-tag {
  height: 25px;
  position: relative;
  background-color: $medmain;
  display: inline-block;
  padding: 0 5px;
  border-radius: 4px;
  z-index: 2;
  margin-right: 2px;
  &:hover {
    background-color: $lightmain;
  }
  p {
    font-size: 18px;
    padding: 0;
    margin: 0;
    display: inline-block;
    color: $lightsec;
  }
  .tag-x {
    top: 3px;
    left: 3px;
  }
}

svg {
  cursor: pointer;
}

.tag-link {
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}
