@import "colors";

.user-list {
  padding-left: 0.5em;
  margin: 10px 0;
  li {
    display: inline-block;
    width: 300px;
  }
}

.readings-index {
  padding-left: 1em;
}

#user-readings {
  height: 100%;
  width: 100%;
  li {
    padding: 5px 4px;
    height: 69px;
    border-bottom: 1px solid $darkmain;
    display: block;
  }
}

#fav-readings-header, #user-readings-header {
  margin-bottom: 0.6em;
}

.user-container {
  position: relative;
  top: -4em;
}
