$clouds:        #ecf0f1;
$silver:        #bdc3c7;
$concrete:      #95a5a6;
$asbestos:      #7f8c8d;
$midnight-blue: #2c3e50;
$wet-asphalt:   #34495e;
$pumpkin:       #d35400;
$carrot:        #e67e22;
$orange:        #f39c12;
$sun-flower:    #f1c40f;
$nephritis:     #27ae60;
$emerald:       #2ecc71;
$pomegranate:   #c0392b;
$alizarin:      #e74c3c;
$peter-river:   #3498db;
$belize-hole:   #2980b9;
$jordy-blue:    #89C4F4;

$darksec: #FF5952;
$lightsec: #FCEEC9;
$lightmain: #96D6D9;
$medmain: #4FAAC9;
$darkmain: #176075;
$letterpress-text: #2F4050;
$bg-color: #4F6478;

.user-list {
  padding-left: 0.5em;
  margin: 10px 0;
  li {
    display: inline-block;
    width: 300px;
  }
}

.readings-index {
  padding-left: 1em;
}

#user-readings {
  height: 100%;
  width: 100%;
  li {
    padding: 5px 4px;
    height: 69px;
    border-bottom: 1px solid $darkmain;
    display: block;
  }
}
