$darksec: #FF5952;
$lightsec: #FCEEC9;
$lightmain: #96D6D9;
$medmain: #4FAAC9;
$darkmain: #176075;
$letterpress-text: #2F4050;
$bg-color: #4F6478;

.user-list {
  padding-left: 0.5em;
  margin: 10px 0;
  li {
    display: inline-block;
    width: 300px;
  }
}

.readings-index {
  padding-left: 1em;
}

#user-readings {
  height: 100%;
  width: 100%;
  li {
    padding: 5px 4px;
    height: 69px;
    border-bottom: 1px solid $darkmain;
    display: block;
  }
}
