<!DOCTYPE html>
<html>
<head>
  <title>Testing? Testing...</title>
</head>
<body>
  <h1>Is this thing on?</h1>
  <audio controls></audio>
  <input type="button" value="start recording" id="start-recording">
  <input type="button" value="stop recording" id="stop-recording">
  <input type="button" value="play recording" id="play-recording">
  <div id="playstuff">I'm playful.<br></div>

</body>
</html>
