<!DOCTYPE html>
<html>
<head>
  <title>Testing? Testing...</title>
</head>
<body>
  <h1>Is this thing on?</h1>
  <audio controls></audio>
  <button class="btn btn-success" id="start-recording">Start Recording</button>
  <button class="btn btn-danger" id="stop-recording">Stop Recording</button>
  <button class="btn btn-warning" id="save-recording">Save to Server</button>
  <div id="playstuff">I'm playful.<br></div>
</body>
</html>
