%h1 Is this thing on?
%button.btn.btn-success#toggle-recording Start Recording
%button.btn.btn-warning.hidden#save-recording Save to Server
%input#recording-desc.hidden{ type: "text", placeholder: "Description" }/
#default-player.hidden
#playstuff
