<!DOCTYPE html>
<html>
<head>
  <title>Testing? Testing...</title>
</head>
<body>
  <h1>Is this thing on?</h1>
  <input type="text" id="recording-desc" placeholder="Description" />
  <button class="btn btn-success" id="toggle-recording">Start Recording</button>
  <button class="btn btn-warning hidden" id="save-recording">Save to Server</button>
  <div id="default-player" class="hidden">
  </div>
  <div id="playstuff"></div>
</body>
</html>
