%h1 Is this thing on?
%input#recording-desc{ type: "text", placeholder: "Description" }/
%button.btn.btn-success#toggle-recording Start Recording
%button.btn.btn-warning.hidden#save-recording Save to Server
#default-player.hidden
#playstuff
