- if user_signed_in?
  %p Welcome #{ link_to current_user.username, root_path }
  = link_to 'Logout', destroy_user_session_path, method: :delete
- else
  %p You are not signed in.
  = link_to 'Login', new_user_session_path
